<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.css}" href="../static/css/bootstrap-theme.css" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <base th:href="@{/}">
    <title>Demo认证页面</title>
</head>
<body>


<h1>This is a demo for open-cloud!</h1>

<button onclick="window.location.href='/'">返回开发者平台</button>
<hr/>

</body>
</html>